<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ContactBook</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css">
</head>

<!--<body style="font-family:courier; background-color:#f9f7d9; color:#d54062">-->
<body>

<div class="navbar">
        <a>Contactbook App</a>
        <a>Registration Page</a>
        <a  style="float: right" href="{% url 'login' %}">Login</a>
        <a  style="float: right" href="{% url 'index' %}">Home</a>
</div>

<main class="main">
    <form method="post" action="#">
        {% csrf_token %}
        <table>
        {{form}}
        </table>
        <input type="submit" value="Create User"/>
    </form>
</main>


</body>

</html>